<footer class="bg-dark text-light pt-4 pb-2">
  <div class="container">
    <div class="row">

      <!-- About -->
      <div class="col-md-4 mb-3">
        <h5>
          &#x1F310;
			miraclead.com
		</h5>
		<p>
			Built with modern web technologies for high performance, scalability, and responsive user experience across all devices.
		</p>
      </div>

      <!-- Links -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/abouts" class="text-light text-decoration-none">About</a></li>
          <li><a href="/services" class="text-light text-decoration-none">Services</a></li>
          <li><a href="/contacts" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <a href="https://www.facebook.com/Miracleadbhut" class="text-light me-3" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/miracle_ad_0811?igsh=OGs5YXh5aXc4cDM3" class="text-light me-3" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/miracle_ad_0811" class="text-light me-3" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/in/adbhut-patel-4323012ab" class="text-light" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>

    </div>

    <hr class="bg-light">

    <!-- Bottom -->
    <div class="text-center">
      <p class="mb-0">© 2026 My Website | All Rights Reserved</p>
    </div>
  </div>
</footer>
 <script src="../static/script.js"></script>
 <script src="../static/js.js"></script>
 <script>
function toggleMenu() {
    document.getElementById("menu").classList.toggle("show");
}
</script>
		</body>
</html>