{% extends "base.html" %}
{% block content %}
<section>

<form method="post">
    {% csrf_token %}
    <h1>
        Find ODD & Even Number
    </h1>
    <label class="m-2">
        Enter Value-
    </label><br>
        <input type="text" name="num" class="form-control">
    <br><br>
      <input type="submit" value ="Check" style="background: blue; color: white; "  class="form-control hmm"/>
        <br>
    <label >
        Output-
    </label>
       <br><br>
    <input type="text" value="{{d}}"  class="form-control" disabled>



</form>
</section>


{% endblock  %}